<!DOCTYPE html>
<html>
<head>
<style>
.fa {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}

</style>
</head>
<body>

<% like = current_user.likes.find_by(image: @image) if !current_user.nil? %>
<% if like.nil? %>
<div>
  <form action="/likes" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="like[image_id]" value="<%= @image.id %>">
    <button class="btn btn-light"><i class="fa fa-thumbs-up" style="color:blue"></i></button>
  </form>
</div>
<% else %>
<div>
<%= link_to raw("<i class=\"fa fa-thumbs-down\" style=\"color:red\"></i>"), like_path(like), method: :delete, class:"btn btn-light" %>
</div>
<% end %>


</body>
</html>
